[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh
[submodule "fonts/powerline"]
	path = fonts/powerline
	url = https://github.com/powerline/fonts
[submodule "fonts/source-code-pro"]
	path = fonts/source-code-pro
	url = https://github.com/adobe-fonts/source-code-pro
